{% extends "layout/basic.html" %}

{% block content %}
    
{% for bb in bbs %}
<div>
    <h2>
        <a href="{% url 'bboard:detail' bb.pk %}">
{#            {{ forloop.counter0|add:page.start_index }} - {{ bb.title_and_price }}</a>#}
            {{ forloop.counter0|add:page_obj.start_index }} - {{ bb.title_and_price }}</a>
    </h2>
    <p>{{ bb.content }}</p>
    <p>
        <a href="{% url 'bboard:by_rubric' bb.rubric.pk %}">
            {{ bb.rubric.name }}</a>
    </p>

    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>

</div>
{% empty %}
    <p>Объявлений нет!!!</p>
{% endfor %}
    
{% include 'includes/inc_paginator.html' %}
{#{% include 'includes/inc_paginator_cbv.html' %}#}
    
{% endblock content %}
